body{
   background: #4E1F00;
background: linear-gradient(90deg, rgba(78, 31, 0, 1) 0%, rgba(100, 74, 7, 1) 35%, rgba(168, 101, 35, 1) 100%);
    color:rgb(214, 201, 180);
    font-size: 35px;
    height: 100vh;
}
cabecalho{
background-image: url(`./img/fundo/.png´);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
height: 300px;
}

cabecalho-img{
width: 20%;
}
