body {
    background: #f1efef;
    background: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(218, 216, 213) 35%, rgb(235, 235, 233) 100%);
    color: rgb(17, 17, 16);
    font-size: 40px;
    height: 100vh;
}

.cabecalho {
    background-image: url('./img/cafe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 200px;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}

cabecalho-img {
    width: 20%;
}
